<nav class="navbar bg_navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080/">
            <i class="bi bi-chat-quote-fill icon_header"></i>
            <span class="title_header">DevQuestions</span>
        </a>
    </div>
</nav>